.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(http://via.placeholder.com/450x150);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
}

/* style your grid sections here!  */

#joe {
  /* background-image: repeating-linear-gradient(Bisque, MistyRose  30%, AntiqueWhite 20%); */
  background-image: url(https://i.imgur.com/ZnCvaDN.jpg) ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;

  font-family: 'Courier New', Courier, monospace;
}

#joe h1 {
  color: gainsboro;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}
img {
  float: left;
  max-width: 470px;
}

#joe p {
  background: linear-gradient(NavajoWhite, LavenderBlush);
  color: Sienna;

}

#joe ul {
  background-color: moccasin;
  background-position: left;
}